.App {
  text-align: center;
  background-color: rgb(245, 241, 241);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: calc(10px + 2vmin);
  color: black;
}

.table-container {
  width: 480px;
}



/*==== HEADER ====*/
.header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.header__item {
  min-width: 45px;
}

.header__item-4 {
  min-width: 200px;
}  

.select {
  width: 100%;
  height: 20px;
  border:none;
}

/*---- buttons ----*/
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
}

.addCardBtn, .deleteChosenCards {
  font-size: 33px;
}

.deleteChosenCards p {
  font-size: 39px;
transform: rotate(45deg)
}



/*=== BODY ====*/
.switch, .card-good, .named {
  display: flex;
  align-items: center;
}

.id {
  width: 15px;
}

/*---- card ----*/
.card {
  max-height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.deleteCard {
  opacity: 0;
  border: none;
  font-size: 30px;
  transform: rotate(45deg);
}

.card:hover {
  background: lightgray;
}

/*---- custom checkbox ----*/
.switch {
  width: 30px;
  height: 30px;
}

input[type="checkbox"] {
  position: relative;
  width: 30px;
  height: 15px;
  appearance: none;
  outline: none;
  background: gray;
  border-radius: 20px;
  transition: .5s;
}

input:checked[type="checkbox"] {
  background: green;
}

input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #fff;
  top: 0;
  left: 0;
  transition: .5s;
  transform: scale(1.1);
}

input:checked[type="checkbox"]:before {
  left: 15px;
}

img {
  width: 30px;
  height: 30px;
}

.named {
  attr:disabled;
}



/*=== Own styles ====*/

.reavel {
  opacity: 1;
}
